<nav>
    <img src="/images/logo.png" alt="logo" />
    <a href="">HOME</a>
    <a href="">MAP</a>
    <a href="/yourpokemon">YOUR-POKEMON</a>
    <a href="">WONDER_TRADE</a>
    <a href="/logout" id="Logout">LOGOUT</a>
</nav>